.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  min-height: 100vh;
}

.header {
  margin: 30px auto 44px auto;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  line-height: 24px;
  max-width: 935px;
  width: calc(100% - 40px);
}

.article {
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  box-sizing: content-box;
  padding: 0 20px 0;
  width: calc(100% - 40px);
}

.galleryWrapper {
  margin-bottom: 74px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  vertical-align: baseline;
}

.galleryTitle {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 14;
  color: rgb(115, 115, 115);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  box-sizing: border-box;
  flex-direction: column;
}

.navbarWrapper {
  height: 60px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: center;
  max-width: calc(935px + 40px);
  padding: 0 20px;
  width: 100%;
}

.navLogo {
  flex: 1 0 127px;
}

.navLogin {
  flex: 1 0 127px;
  position: relative;
}

.hashTagLogo {
  border-radius: 50%;
}

.hashTagWrapper {
  max-width: 935px;
  text-align: left;
  width: 100%;
}

.hashTagContent {
  margin-left: 50px;
  text-align: left;
}

.hashTag {
  margin-bottom: 12px;
  font-size: 30px;
}

.hashTagCounts {
  font-weight: 600;
}
